<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFtD6gyWCcaD6i4mY7oaFxx8eSZPtMmpw</string>
	<key>GCM_SENDER_ID</key>
	<string>621905064804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bd.edu.ulab.ulabBloodBank</string>
	<key>PROJECT_ID</key>
	<string>ulab-blood-bank-c3665</string>
	<key>STORAGE_BUCKET</key>
	<string>ulab-blood-bank-c3665.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621905064804:ios:b34a84ef0ab97fe6b90071</string>
	<key>DATABASE_URL</key>
	<string>https://ulab-blood-bank-c3665-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>